

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


.btn-save {
  margin-right: 5px;
  margin-left: auto;
}


.control-wrapper {
  padding-top: 10px;
  padding-bottom: 5px;
}
